@font-face {
    font-family: 'WorkSans';
    src: url(/Verstka/faq-accordion-main/faq-accordion-main/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

:root{
    --white: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Purple-100);
    font-size: 16px;
    font-family: 'WorkSans';
    font-weight: 400;
    line-height: 1.7;
}
.bg{
    width: 100%;
    height: 250px;  
    background-image: url(/Verstka/faq-accordion-main/faq-accordion-main/assets/images/background-pattern-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style-type: none;
    margin: 0;
    font-size: 16px;
}
li{
    margin: 0;
    padding: 0;
    font-size: inherit;
}


.main {
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.faq-box {
    padding: 40px 35px;
    border-radius: 14px;
    background-color: var(--white);
    margin: -150px 10px 100px 10px;
    max-width: 573px;
    height: auto;
}
.logo-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-bottom: 10px;
}
.title {
    font-size: 3.5rem;
    font-weight: 700;
}


.faq__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq__list-item {
    flex-wrap: wrap;
    transition: all .3s ease;
}
.faq__list-item:hover{
    color: #b004b9;
    cursor: pointer;
}

.faq__list-item + .faq__list-item{
    border-top: 1px solid var(--Purple-100);
}
.title-wrapper{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;
}
.list__item-title {
    font-size: 1.1em;
    font-weight: 600;
}

.list__item-hidden {
    display: none;
    width: 100%;
    height: 100px;
    color: var(--Purple-600);
}
.list__item-hidden.active {
  display: block;
}



@media (max-width: 630px) {
    .header{
        background-image: url(/Verstka/faq-accordion-main/faq-accordion-main/assets/images/background-pattern-mobile.svg);
    }
}
@media (max-width: 490px) {
    .faq-box {
        padding: 30px 25px;
    }
    .logo-box {
        gap: 25px;
        margin-bottom: 15px;
    }
    .list__item-hidden {
        height: auto;
    }
    .list__item-hidden.active {
        margin-top: 15px;
    }
}
@media (max-width: 380px) {
    .main {
        padding: 0;
    }
    .title {
        font-size: 3rem;
    }
    .list__item-title {
        font-size: 1em;
    }
}